<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.traffic.practice.mapper.PostMapper">

    <insert id="register" parameterType="com.traffic.practice.dto.PostDTO">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO post (name, contents, category_id, created_time, views, user_id, file_id, update_time)
        VALUES (#{name}, #{contents}, #{categoryId}, #{createdTime}, #{views}, #{userId}, #{fileId}, #{updateTime})
    </insert>

    <select id="selectMyPosts" parameterType="java.lang.Long" resultType="com.traffic.practice.dto.PostDTO">
        SELECT 'id',
            'name',
            'contents',
            'category_id',
            'views',
            'userId',
            'fileId',
            'updateTime'
        FROM post
        WHERE id = #{userId}
    </select>

    <update id="updatePost" parameterType="com.traffic.practice.dto.PostDTO">
        UPDATE post
        SET name=#{name}, contents=#{contents}, category_id=#{categoryId}, views=#{views}, fileId=#{fileId}, update_time=#{updateTime}, userId=#{userId}
        WHERE id = #{id}
    </update>

    <delete id="deletePost" parameterType="java.lang.Long">
        DELETE FROM post
        WHERE id = #{id}
    </delete>
</mapper>